.nav-header {
    display: flex;
    justify-content: space-between;
}
.nav-header a {
    color: white;
}
.col-2 h3 {
    padding: 20px;
}
.col-2 ul li{
    color: blue;
    padding: 10px;
}
.col-2 .list-group{
    padding: 20px;
}
.col-10 #demo {
    padding: 50px;
}